body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

#map {
  height: 95vh;
  width: 100%;
}
